.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/***** Antd *****/

@media(max-width: 600px){
  .ant-page-header-ghost{
    display: block !important;
  }
}

.ant-page-header-ghost {
  background-color: inherit;
  display: flex;
}

.ant-page-header-heading-title{
  color: white;
  font-weight: bold;
  font-family: sans-serif;
}

.ant-form-item-label > label{
  color: #1b4c7a;
  font-weight: bold;
}

.ant-collapse-item ant-collapse-no-arrow{
  border-radius: 10px;
}

.ant-collapse-content ant-collapse-content-active{
  border-radius: 10px;
}

.ant-collapse-header{
  background-color: #efeff7;
}

.ant-list-split .ant-list-item{
  border: 0px;
}

/***** Header *****/

.header{
  background: linear-gradient(to right, black, #478ac9);
  border-top: 1px grey;
  margin-bottom: 2em;
  color: white;
}

@media(min-width: 601px){
  .header-item {
    padding: 3px 12px;
    border-radius: 15px;
    background-color: #fff;
    font-weight: 700;
    margin-left: 2em
  }
}
@media(max-width: 600px){
  .header-item{
    padding: 2px 6px;
    border-radius: 15px;
    background-color: #fff;
    font-weight: 700;
    margin-left: 0.5em
  }
}

/***** Accordion *****/

.accordion-panel{
  background-color: rgb(237 241 248);
  border-radius: 10px;
}

@media(max-width: 600px){
  .accordion-image{
    text-align: center;
    margin-bottom: 1em;
  }
}

@media(min-width: 601px){
  .accordion-header {
    display: flex;
    font-size: 15px;
  }
}
@media(max-width: 600px){
  .accordion-header {
    font-size: 15px;
  }
}

.ant-row{
  margin-bottom: 0.5em;
}

.accordion-button {
  color: #478ac9;
}

.accordion-title{
  color: #1b4c7a;
  margin-bottom: 0.5em;
  font-size: 26px;
}

.d-flex {
  color: #555c66;
}

/***** Home Page *****/

.home {
  margin: auto;
  width: 50%;
  padding: 10px;
  text-align: center;
  color: #478ac9;
}

.header {
  margin-left: '0.5em';
}

.nav-link {
  color: white;
}

/***** Screen Show *****/

.screen-show-list {
  width: 80%;
  margin: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.screen-show-rating {
  font-weight: bold;
  margin-top: 2em;
}

@media(min-width: 601px){
  .screen-show-data {
    display: flex; 
    flex: 1;
  }
}

@media(min-width: 601px){
  .screen-show-data-list{
    margin-left: 1.5em;
  }
}

@media(min-width: 601px){
  .screen-show-data-list-middle{
    width: 50%
  }
}
@media(max-width: 60px){
  .screen-show-data-list-middle{
    width: 100%
  }
}


.page-buttons-container{
  display: flex;
  width: 50%; 
  margin: auto;
}

.page-buttons {
  cursor: pointer;
  color: #478ac9;
  margin-left: 1em;
}

.page-numbers{
  margin-left: 2em;
  height: 2em;
  padding: 0.2em 1em;
  border-radius: 15px;
  background-color: #fff;
  font-weight: 700;
  color: #478ac9;
  font-size: 14px;
  cursor: pointer;
}

.page-dots{
  margin-top: -0.6em;
  font-size: 32px;
  color: #478ac9;
}

/***** Parameter Form *****/

@media(min-width: 601px){
  .parameter-form {
    margin-left: 20%;
  }
}

.parameter-item{
  margin-left: 1em;
  width: 15em;
  color:#1b4c7a;
}

.parameter-button-container{
  margin-left: 25%;
  margin-bottom: 1em;
}

.parameter-button {
  margin: 1em;
}

@media(max-width: 600px){
  .bottom-parameter-fields{
    margin-left: 15%;
  }
}

.primary-button {
  margin: 1em;
  color: #fff;
  border-color: #40a9ff;
  background: #40a9ff;
  border-radius: 6px;
}

.danger-button {
  margin: 1em;
  color: #ff4d4f;
  border-color: #ff4d4f;
  background-color: white;
  border-radius: 6px;
}

/***** Add New Form *****/

.add-new-form-container {
  display: block;
  color: #478ac9;
  margin: 1em 3em 0em 3em;
}

.add-new-container {
  display: block;
  margin-left: 40%;
  color: #1b4c7a;
  margin-top: -2%;
}

.add-new-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  width: 30%;
}

.add-new-title {
  font-weight: bold;
  font-size: 16px;
  color: #1b4c7a
}

.add-new-form {
  display: flex;
  width: 100%; 
  margin: 2em 1em 1em 1em;
}

.add-new-buttons{
  margin-left: 2em;
}

.form-label {
  color: #478ac9;
}

.list-group {
  --bs-list-group-border-color:white;
}

/***** React Modal *****/
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}